@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic,500italic,500);
@import 'reset.css';

body {
	font-family: 'Roboto', sans-serif;
}

header#main {
	background: #212327;
	padding: 0 5%;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

header#main .logo {
	line-height: 75px;
	float: left;
}

header#main .logo a {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	font-size: 21px;
}

header#main .nav-toggler {
	display: block;
	height: 75px;
	float: right;
	width: 44px;
}

header#main .nav-toggler a {
	background: url('../img/bars.png') no-repeat center center;
	background-size: 50%;
	display: block;
	height: 100%;
	text-indent: -9999px;
}

header#main nav {
	margin: 0 -5%;
	padding: 0 5%;
	clear: both;
	padding-bottom: 20px;
	display: none;
}

header#main nav ul li {
	border-top: 1px solid #303031;
	line-height: 30px;
}

header#main nav ul li:first-child {
	border: 0;
}

header#main nav ul li a {
	color: #787878;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}

header#main nav ul li a:hover {
	color: #fff;
}

header#main nav ul li.active a {
	color: #fff;
}

header#main nav ul ul {
	margin: 0 0 0 15px;
}

header#main nav ul ul li:first-child {
	border-top: 1px solid #303031;
}

header#main .search {
	display: none;
}



@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	
	header#main {
		height: 75px;
		padding: 0 30px;
	}
	
	header#main .nav-toggler {
		display: none;
	}
	
	header#main nav {
		display: block !important;
		float: right;
		margin: 0;
		padding: 0;
		clear: none;
	}
	
	header#main nav.hidden {
		display: none !important;
	}

	header#main nav ul li {
		border: 0;
		float: left;
		padding: 0 8px;
	}
	
	header#main nav ul li a {
		font-size: 15px;
		line-height: 75px;
		display: block;
	}
	
	header#main nav ul ul {
		display: none;
	}
	
	header#main .search {
		display: block;
		float: right;
	}
	
	header#main .search input {
		color: transparent;
		height: 75px;
		width: 55px;
		background: #212327 url('../img/search-lens.png') no-repeat right 20px top 30px;
		background-size: 18px;
		border: 0;
		padding: 0;
		font-size: 18px;
	}
	
	header#main .search input:focus {
		width: 350px;
		outline: none;
		background-color: #323438;
		background-position: right 50px top -63px;
		color: #787879;
		position: absolute;
		right: 0;
		padding: 0 100px 0 30px;
	}
	
}

@media (min-width: 1200px) {
	
}